body{
    background-color: rgb(26, 30, 26);
    background-position: center;
    background-repeat: none;
    margin: 0;
}
h1{
    color: rgb(209, 77, 21);
}
p{
    color: rgb(216, 205, 203);
    margin-left: 5%;
    margin-right:5%;
}
.pages{
    text-align: center;
}
.pages a{
    color: rgb(241, 232, 229);
    padding:10px 15px;
    text-decoration: none;
    display: inline-block;
}
.pages a.active{
    background-color: rgb(222, 43, 11);
    text-align: center;
    color:#131f0a ;
    border-radius: 5px;
    font-weight: bold;
}
.pages a:hover:not(.active){
  background-color: rgb(169, 93, 89);
  border-radius: 5px;
  color: rgb(17, 17, 171);
}
.home{
    background-color: rgb(90, 236, 61);
    color: rgb(139, 84, 17);
    font-style:inherit;
    font-weight: bold;
}
.nai ul{
    text-align: center;
    text-decoration: none;
    background-color: rgb(171, 149, 94);
    overflow: hidden;
    list-style-type:none;
}
.nai a{
    text-decoration: none;
    padding:10px ;
    display: block;
    text-align: center;
    color: rgb(13, 130, 46);
}
.nai a:hover{
    background-color: rgb(236, 242, 247);
}
.nai li{
    float: left;
}
.nai a:visited{
    background-color: rgb(129, 96, 96);
    color: black;
}
#hh{
    color: rgb(1, 12, 6);
}
#tele{
    width:45px;
    color:blue;
    background-color: rgb(0, 157, 255);
    margin-left:25%;
    display: inline;
    border-radius:45px;
}
.telegram a{
    padding: 2px;
    border: 2px rgb(245, 242, 237);
    color: aliceblue;
    text-decoration: none;
    display:inline-block;
    text-align: center;
    box-sizing: 5px;
}
.telegram a:hover{
    color: rgb(86, 152, 206);
}
#tele:hover{
    background-color: rgb(235, 99, 15);
}