body{
    background-color: hsl(62, 33%, 59%);
}
.lk ul{
    text-align: center;
    text-decoration: none;
    background-color: rgb(96, 108, 110);
    overflow: hidden;
    list-style-type:none;
}
.lk a{
    text-align: center;
    text-decoration: none;
    color: rgba(120, 106, 190, 0.765);
    overflow: hidden;
    list-style-type:none;
    padding: 23px;
}
.lk a:hover{
    background-color: rgb(150, 177, 177);
    font-size: larger;
}
.lk li{
    float: left;
}
.lk a:visited{
    color: rgba(249, 249, 248, 0.852);
}
.gks{
    width: 150px;
    display: inline-block;
    margin: 2px;
    border: 1px solid rgb(130, 172, 235);
}
.gks img{
    width:100%;
    height: auto;
}
.gks .description{
    padding: 2px;
    text-align: center;
    color: rgb(14, 15, 16);
    background-color: rgb(144, 174, 178);
}
.gks:hover{
    box-shadow: 2px 2px 6px rgb(25, 148, 97);
    font-size: x-large;
}
h1{
    background-color: rgba(228, 218, 218, 0.605);
    color: rgba(246, 246, 240, 0.836);
}