body{
    margin: 0;
    padding: 0;
    background-color: hsla(37, 80%, 14%, 0.79);
    background-position: 10px;
}
.hed{
    color: rgb(238, 145, 32);
}
main{
    text-align: center;
    padding: 2px;
    text-decoration: none;
}
#img1{
    border-radius: 75%;
    float:right;
}
#el{
    color: beige;
}
.lf{
    text-align: center;
    background-color: rgb(228, 96, 96);
}
.but{
    color: rgb(223, 175, 175);
    background-color: brown;
    text-align: center;
}
.mal p{
    color: aqua;
}
#sl{
    color: rgb(250, 247, 251);
}
#pp{
    color: rgb(234, 240, 238);
}
.lk{
    text-decoration: none;
}
.but:hover{
    background-color: rgb(216, 107, 12);
}
.nai ul{
    text-align: center;
    text-decoration: none;
    background-color: rgb(159, 167, 173);
    overflow: hidden;
    list-style-type:none;
}
.nai a{
    text-decoration: none;
    padding:10px ;
    display: block;
    text-align: center;
    color: rgb(102, 146, 242);
}
.nai a:hover{
    background-color: aliceblue;
}
.nai li{
    float: left;
}
.nail a:visited{
    background-color: rgb(129, 96, 96);
    color: black;
}
.email{
    animation-name:slideup;
    animation-duration:1.3s;
    animation-direction:normal;
    animation-timing-function:linear;
}
.fe{
    animation-name:slideLeft;
    animation-duration:2s;
     animation-direction:normal;
    animation-timing-function:linear;
}
.pl{
     animation-name:slideRight;
     animation-duration:4s;
     animation-direction:normal;
     animation-timing-function:linear;
}
.nmu{animation-name:colorchange;
     animation-duration:6s;
     animation-direction:normal;
     animation-timing-function:linear;
    }
@keyframes slideup{
    from{transform:translatey(-100%);}
}
@keyframes slideLeft{
    from{transform: translatey(-100%);}
}
@keyframes slideRight{
    from{transform:translatex(-100%)}
}
@keyframes colorchange{
    100%{color: black;}
}
